# Kill it all with fire
/*
# Unless its these
!.LICENSE
!/.bashrc
!/.bash_profile
!/.builds
!/.env
!/.gitignore
!/.gitmodules
!/.less
!/.lesskey
!/.tmux.conf
!/.urlview
!/.zshrc
!/bin
/bin/*
!/bin/currency-convert
!/bin/up
!/bin/update-mail
!/lib
/lib/python/__pycache__/*
!/.config
/.config/*
!/.config/profile
!/.config/*.profile
!/.config/aerc
/.config/aerc/accounts.conf
/.config/aerc/*-map
!/.config/alacritty
/.config/alacritty/platform.yml
!/.config/bat
!/.config/fontconfig/
!/.config/fontconfig/fonts.conf
!/.config/git/
!/.config/guix/
/.config/guix/current
!/.config/imv/
!/.config/khard
!/.config/khal
!/.config/kitty
!/.config/nixpkgs/
/.config/nixpkgs/darwin/flake.lock
!/.config/notmuch/
/.config/notmuch/*
!/.config/notmuch/hooks
!/.config/nvim/
/.config/nvim/*
!/.config/nvim/init.lua
!/.config/nvim/after
!/.config/nvim/autoload
!/.config/nvim/coc-settings.json
!/.config/nvim/lua
.config/nvim/lua/.luarc.json
!/.config/coc/
/.config/coc/*
!/.config/coc/ultisnips/
!/.config/waybar
!/.config/mako
!/.config/mako/config
!/.config/mpv
/.config/mpv/*
!/.config/mpv/mpv.conf
!/.config/skhd
!/.config/sway/
/.config/sway/*
!/.config/sway/config
!/.config/sway/machines/
!/.config/swaylock/
!/.config/user-dirs.dirs
!/.config/wofi
!/.config/vdirsyncer
/.config/vdirsyncer/client*
!/.config/yabai
!/.config/youtube-dl
/.config/youtube-dl/*
!/.config/youtube-dl/config
!/.ssh
/.ssh/*
!/.ssh/config
