# Kill it all with fire
/*
# Unless its these
!/.config
/.config/*
!/.config/alacritty
!/.config/bat
!/.config/ion
/.config/ion/*
!/.config/ion/initrc
!/.config/nvim/
/.config/nvim/*
!/.config/nvim/init.vim
!/.config/nvim/autoload
!/.config/nvim/coc-settings.json
!/.config/coc/
/.config/coc/*
!/.config/coc/ultisnips/
!/.config/osx
!/.config/waybar
!/.config/mako
!/.config/mako/config
!/.config/sway
/.config/sway*
!/.config/sway/config
!/.config/wofi
!/.config/gammastep
!/.gitignore
!/.gitmodules
!/.less
!/.lesskey
!/.setup
!/.tmux.conf
!/.zshrc
!/.bash_profile
