# Kill it all with fire
/*
# Unless its these
!/.config
/.config/*
!/.config/alacritty
!/.config/bat
!/.config/imv/
!/.config/khard
!/.config/khal
!/.config/nvim/
/.config/nvim/*
!/.config/nvim/init.vim
!/.config/nvim/autoload
!/.config/nvim/coc-settings.json
!/.config/coc/
/.config/coc/*
!/.config/coc/ultisnips/
!/.config/osx
!/.config/waybar
!/.config/mako
!/.config/mako/config
!/.config/mutt/
/.config/mutt/accounts
!/.config/sway/
/.config/sway/*
!/.config/sway/background*
!/.config/sway/config
!/.config/sway/machines/
!/.config/swaylock/
!/.config/wofi
!/.config/gammastep
!/.config/vdirsyncer
/.config/vdirsyncer/client*
!/.gitignore
!/.gitmodules
!/.less
!/.lesskey
!/.setup
!/.tmux.conf
!/.zshrc
!/.bash_profile
