* {
    border: none;
    border-radius: 0;
    font-family: monospace, sans-serif;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(0x29, 0x2D, 0x3E, 0.5);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    border-bottom: 3px solid transparent;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.active {
    background-color: #676e95;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.urgent {
    background-color: #b25358;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#not-power,
#group-power,
#custom-quit,
#custom-lock,
#custom-reboot,
#mpd {
    padding: 0 0.5em;
    margin: 0 0px;
}

#temperature.critical {
    color: #e06c75;
}

#idle_inhibitor.activated {
    color: #e5c07b;
}

/* Make the battery blink red if not charging and critical battery */
@keyframes blink {
    to {
        color: #ffffff;
    }
}

#battery.critical:not(.charging) {
    color: #e06c75;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
