* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: monospace, sans-serif;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(0x29, 0x2D, 0x3E, 0.5);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    border-bottom: 3px solid transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.focused {
    background-color: #676e95;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.urgent {
    background-color: #b25358;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    margin: 0 4px;
    color: #292d3e;
}

#clock {
    background-color: #676e95;
    color: #ffffff;
}

#battery {
    color: #959dcb;
    background-color: #292d3e;
}

#battery.charging {
    background-color: #959dcb;
    color: #292d3e;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f07178;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#backlight {
    background-color: #c792ea;
}

#network {
    background-color: #82aaff;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: #c3e88d;
}

#pulseaudio.muted {
    background-color: #96b26c;
}

#custom-media {
    background-color: #959dcb;
    color: #292d3e;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
    color: #2a5c45;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
    color: #2a5c45;
}

#temperature {
    background-color: #f78c6c;
}

#temperature.critical {
    background-color: #ff5370;
}

#tray {
    background-color: #292d3e;
}

#idle_inhibitor {
    background-color: #2d3436;
    color: #ffffff
}

#idle_inhibitor.activated {
    background-color: #959dcb;
    color: #2d3436;
}
