#window {
    margin: 5px;
    border: 2px solid #f07178;
    background-color: rgba(0x29, 0x2d, 0x3e, 0.7);
}

#input {
    margin: 5px;
    border: 2px solid #676e95;
    background-color: #676e95;
    color: #ffffff;
}

#inner-box {
    margin: 5px;
    border: 2px solid #292d3e;
    background-color: rgba(0x29, 0x2d, 0x3e, 0.7);
}

#outer-box {
    margin: 5px;
    border: 2px solid #292d3e;
    background-color: rgba(0x29, 0x2d, 0x3e, 0.7);
}

#scroll {
    margin: 5px;
    background-color: rgba(0x29, 0x2d, 0x3e, 0.7);
}

#text {
    margin: 5px;
    color: #ffffff;
} 
